*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/*height:790px;
width:1440px;*/

body {

height: 790px;
width: 1440px;

}

.test{
	opacity: 0%;
	position: absolute;
	height: 480px;
	width: 420px;
	background-color: pink;
	/*top: 690px;*/
	top: 0px;
	left: 0px;

}

.test div{
	opacity: 100%;
	position: absolute;
	height: 430px;
	width: 495px;
	background-color: pink;
	top: 265px;
	left: -75px;
	border-radius: 50%;

}
.bgshape1{
position: absolute;
/*left: 1540px;
top: 820px;*/
bottom: 0px;
right:0px;
transform: rotate(-180deg);
}
.test1{
	border: solid 0px black;
	opacity: 20%;
	position: absolute;
	height: 480px;
	width: 420px;
	background-color: white;
	/*top: 690px;*/
	top: 0px;
	left: 0px;

}

.test1 div{
	border: solid 0px black;
	opacity: 40%;
	position: absolute;
	height: 430px;
	width: 495px;
	background-color: white;
	top: 145px;
	left: calc(-75px - 0px);
	border-radius: 50%;

}

.bgshape2{
	opacity: 20%;
	position: absolute;
	bottom: -105px;
	right: -140px;
	background-color: pink;
	width: 320px;
	height: 680px;
	border-radius: 260px 0 0 0;

}

.app--text{
display: flex;
position: absolute;
top: 0;
left: 0;
height: 790px;
width: 1440px;
background: ;
gap: 70px;
justify-content: center;
align-items: center;
}

.app--text .app{
	display: flex;
	position: relative;
	top: 5px;
	height: 505px;
	width: 250px;
	border-radius: 35px;
	border: solid grey 10px;
	justify-content: center;

}

.app-notch{
	position: relative;
	top: -10px;
	left: 1px;
	height: 30px;
	width: 127px;
	background-color: grey;
	border-radius: 10px;
}
.app--text .text{
	position: relative;
	left: 50px;
	max-height: 400px;
max-width: 400px;
background: white;
}

